* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav .dropdown-menu{
    position: absolute ;
}
body {
    width: 100%;
    height: 100vh;
}

.menu {
    font-weight: 600;
}

a {
    margin-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;

}
.logo img{
    width: 120px;
}

.logo h1{
    margin-top: 10px;
    font-size: 30px;
}
.logo:hover {
    color: #fff;
}

.header {
    position: relative;
    background-color: #3b3b3b;
    display: flex;
    justify-content: center;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-transform: uppercase;
    font-weight: 600;
    align-items: center;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    margin-left: 13px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #d96a77;
}
.container-fluid{
    margin-right: 40px;
}
.header .toggle {
    display: none;

}

.header .close {
    display: none;
}

.nav-side ul {
    display: none;
}
.icon{
    position: relative;
}
.icon i{
    position: absolute;
    top: 10px;
    right: 50px;
    color: #d96a77;
}
.icon i~i {
    position: absolute;
    right: 24px;
    top: 10px;
}
.search{
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    width: 220px;
    color: #3b3b3b;
    font-style: italic;
    border: none;

}
.text .fa-solid{
    width: 1%;
}


@media only screen and (max-width: 767.13px) {
    
    a {
        margin-right: 20px;
    }
    
    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        position: absolute;
        top: 20px;
    }
    .logo img{
        width: 120px;
    }
    .logo h1{
        font-size: 30px;
    }
    .logo:hover {
        color: #fff;
    }
    
    .header {
        background-color: #3b3b3b;
        height: 150px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        text-transform: uppercase;
        font-weight: 600;
        height: 200px;
    }
    
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        margin-left: 20px;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: #d96a77;

    }
    .header .toggle {
        display: none;
    
    }
    
    .header .close {
        display: none;
    }
    .collapse:not(.show) {
        display: block;
    }
    .navbar-nav {
        flex-direction: row;
       font-size: 12px;
       width: 100%;
       margin-top: 120px;
    }
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
        margin-left: 10px;
    }
    .icon{
        position: relative;
    }
    .icon i{
        position: absolute;
        top: 10px;
        right: 40px;
    }
    .icon i~i{
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .search{
        outline: none;
        width: 200px;
    }
    .container-fluid{
        margin: 0;
    }
}
@media only screen and (max-width: 575.13px) {
    .collapse:not(.show) {
        display: none;
    }
    .logo img{
        width: 120px;
        margin-left: 10px;
    }
    .header {
        position: relative;
        background-color: #3b3b3b;
        display: flex;
        justify-content: space-between;
        height: 150px;
    }

    .header .toggle {
        display: block;
        position: absolute;
        right: 40px;
        top: 50px;
        padding: 5px;
        width: 50px;
        border: none;
        border-radius: 10px;
    }
    


.navbar-nav .dropdown-menu {
    position: relative !important;
}
    .header .nav-side {
        width: 250px;
        height: 100vh;
        background-color: #fff;
        position: absolute !important;
        top: 0;
        left: 0;
        transform: translateX(-110%);
    }

    .header .nav-side.active {
        transform: translateX(0);
        z-index: 1;
    }

    .header .nav-side ul {
        display: block;
        z-index: 2 !important;
    }

    .header .nav-side ul li {
        list-style: none;
        margin-top: 40px;
        text-decoration: none;
    }
    .header .nav-side ul li a{
        text-decoration: none;
        color: #3b3b3b;
    }
    .header .close {
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
        padding: 5px;
        width: 40px;
        border: none;
        border-radius: 10px;
    }

    .header .right {
        position: absolute;
        top: 0;
        left: 250px;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        transform: translateY(-110%);
    }

    .header .right.active {
        transform: translateY(0);
        z-index: 1;
    }
    .dropdown{
        margin-top: 10px;
        color: #d96a77;
        text-transform:capitalize;
    }
    .search{
       margin-top: 20px;
       border: 1px solid #3b3b3b;
       padding: 5px;
    }
    .icon i{
        position: absolute;
        top: 5px;
        right: 40px;
    }
    .icon i~i{
        position: absolute;
        right: 10px;
        top: 5px;
    }
    .header .nav-side.active {
        transform: translateX(0);
        z-index: 1;
    }
}