*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.row{
    justify-content: space-between;
    align-items: center;
}
.info-header {
    margin:25px 0;
    display: flex;
    
}
.address-header{
    display: flex;
    align-items: center;
}
.address-header>i{
    font-size: 25px;
}
.gps-header{
    list-style: none;
    padding: 0 20px;
    font-size: 16px;
    margin: 0;
}
.gps-header a{
    text-decoration: none;
    color: #888;
    font-size: 15px;
    white-space: nowrap;
}
.logo1 img{
    width: 70%;
}
.first p{
    font-size: 13px;
    width: 90%;
}
.container .left{
    margin: 0;
}
.contact-header{
    display: flex;
    align-items: center;
}
.contact-header i{
    font-size: 25px;
}
.contact-header .phone-header{
    list-style: none;
    margin: 0;
    padding: 0 20px;
}
.phone-header a{
    text-decoration: none;
    color: #888;
}
.navbar{
    background-color: #1a1a1a;
    color: #fff;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 14px;
    margin-left: 15px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #888;
    
}
.menu {
    white-space: nowrap;
    position: relative;
}
.sub-menu{
  position: absolute;
    top: 105%;
    list-style: none;
    display: none;
    background-color: #1a1a1a;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin: 0;
    transition: all 0.5s ease-out 0s;
}
.sub-menu a{
    text-decoration: none;
    color: #888;
}

.menu:hover .sub-menu{
    display: block;
    position: absolute;
    z-index: 100;
}

.sub-menu li:hover{
    color: #fff;
}
.menu1:hover .sub-menu1{
    display: block;
    position: absolute;
    z-index: 100;

}
.sub-menu1 li:hover{
    color: #fff;
}
.sub-menu1 a{
    text-decoration: none;
    color: #888;
}
.menu1{
    white-space: nowrap;
    position: relative;
}

.sub-menu1{
    position: absolute  ;   
      list-style: none;
      display: none;
      background-color: #1a1a1a;
      top: 105%;
      border-radius: 10px;
      width: 100%;
      margin: 0;
      padding: 20px;
  }
  .device{
    white-space: nowrap;
  }
.home a{
    color: #fff;
    font-size: 20px;
}
.left-header{
    display: flex;
    align-items: center;  
    justify-content: flex-end;
    width:53%;
}   
.left-header a{
    text-decoration: none;

}
.left-header i{
    color: #3b3b3b;
    margin-left: 11px;
    background-color: #fff;
    border-radius: 50%;
    width: 29px;
    height: 29px;
    text-align: center;
    line-height: 29px;
}
.nav-side{
    display: none;
}
.toggle{
    display: none;
}
@media only screen and (max-width:1024px){
    
    .contact-header{
        display: none;
    }
    .navbar{
        display: none;
    }
   
    .info-header{
        margin: 0;
        display: block;
    }
    .gps-header a{
        font-size: 12px;
       
    }
    .toggle{
        display: block;
        position: absolute;
        right: 40px;
        top: 10px;
        border: none;
        padding: 5px;
        width: 40px;
        background-color: #fff;
        font-size: 20px;
    }
    .nav-side{
        display: block;
    }
    .logo img{
        width: 140px;
    }
.navbar-nav .dropdown-menu {
    position: relative !important;
}
    .toggle-header .nav-side {
        width: 250px;
        height: 100vh;
        background-color: #fff;
        position: absolute !important;
        top: 0;
        left: 0;
        transform: translateX(-110%);
    }

    .toggle-header .nav-side.active {
        transform: translateX(0);
        z-index: 1;
    }

    .toggle-header .nav-side ul {
        display: block;
        z-index: 2 !important;
    }

    .toggle-header .nav-side ul li {
        list-style: none;
        margin-top: 40px;
        text-decoration: none;
    }
    .toggle-header .nav-side ul li a{
        text-decoration: none;
        color: #3b3b3b;
    }
    .toggle-header .close {
        display: block;
        position: absolute;
        right: 30px;
        top: 30px;
        padding: 5px;
        width: 40px;
        border: none;
        border-radius: 10px;
    }

    .toggle-header .right {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        transform: translatex(-110%);
    }

    .toggle-header .right.active {
        transform: translatex(0);
        z-index: 8;
    }
    .dropdown{
        margin-top: 10px;
        color: #d96a77;
        text-transform:capitalize;
        }
    .search{
       margin-top: 20px;
       border: 1px solid #3b3b3b;
       padding: 5px;
    }
    .icon i{
        position: absolute;
        top: 5px;
        right: 40px;
    }
    .icon i~i{
        position: absolute;
        right: 10px;
        top: 5px;
    }
    .toggle-header .nav-side.active {
        transition: all 0.3s ease-out 0s;
        transform: translateX(0);
        z-index: 9;
    }
  
}
@media only screen and (max-width:576px){
.info-header{
    display: none;
}
}