*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
    
}
.footer{
    background-color: #1a1a1a;
    color: #fff;
}

.footer .row {
    
    margin-right: -15px;
    margin-left: -15px;
}

.footer .first .logo1{
   
    display: flex;
    align-items: center;
    margin-top: 20px;
    
}
.footer .first a{
    
    text-decoration: none;
}
.footer .first h1{
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}
.footer .first .logo1 img{
    width: 200px;
    margin-bottom: 20px;
}
.footer .first  p{
    text-transform: uppercase;
    font-weight: 600;

}
.footer .first  span{
    color: #d96a77;
}
.footer .first .click{
    color: #d96a77;
}
.footer .first .click:hover{
    color: #fff;
}
.footer .footer-box ul{
    list-style: none;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
}
.footer .footer-box ul span{
    color: #d96a77;
}
.footer .footer-box p{
    font-weight: 600;
    margin-top: 10px;
}
.footer .footer-box ul li{
    color: #fff;
}
.footer .footer-box ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.footer .footer-box ul li a:hover{
    color: #d96a77;
}
.footer .footer-box .fa-solid{
    margin-right: 15px;
    font-size: 20px;
}
.footer .footer-box li{
    margin-top: 10px;
}
.footer .boder{
    width: 100%;
}
.footer .icon1 .row{
    margin-top: 30px;
}
.icon1 .left{
    padding: 0;
}
.footer .left .sub-left i{
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 32px;
    border: 1px solid #888;
    border-radius: 50%;
    color: #fff;
    margin-right:10px;
}
.footer .icon1 .subleft{
    margin-right: 20px;
    display: flex;
}
.footer .left .sub-left i:hover{
    color: #d96a77;
}
.footer1 {
    display: flex;
    margin-top: 30px;
 
}
.footer1 .left{
    display: flex;
    width: 100%;
    
}
.footer1 .left .copyright {
    text-transform: uppercase;
    font-size: 11px;
    margin-right: 10px;
}
.footer1 .left .copyright a{
    text-decoration: none;
    color: #d96a77;
    font-size: 14px;
    margin: 0;
}
.footer1 .footermenu{
    display: flex;
    font-size: 14px;
    list-style: none;
    width: 100%;
}
.footer1 .footermenu li{
    margin: 0 10px;
}
.footer1 .footermenu a{
    text-decoration: none;
    color: #fff;
}
.footer1 .footermenu a:hover{
    text-decoration: none;
    color: #d96a77;
}


@media only screen and (max-width:991px){

    .footer .first .logo1 {
        flex-direction: column;
    }
    .address-footer1.ver2{
        padding: 0px;
    }
}
@media only screen and (max-width:767.13px){

    .footer .first .logo1 {
       flex-direction: row;

    }
    .footer .footer-box ul {
        padding: 0;
    }
    .footer1 .left {
        flex-wrap: wrap;
    }
    .footer1 .footermenu {
        padding: 0;
    }
    .footer1 .footermenu li {
        margin: 0;
        padding-right: 15px;
    }
    
.footer .footer-box p {
    font-weight: 600;
    margin-top: 30px;
}

}
.address-footer{
    flex-wrap: wrap;
    display: flex;
}
.address-footer p{
    margin-top: 10px;
}
.address-footer1{
    margin: 15px;
}

